@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fraunces-v10-latin-regular.woff2") format("woff2"), url("../fonts/fraunces-v10-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v10-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v10-latin-900.woff") format("woff");
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v11-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v11-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v11-latin-700.woff2") format("woff2"), url("../fonts/barlow-v11-latin-700.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

section {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.header {
  margin-top: 45px;
  padding: 10px 0px 10px 0px;
  margin-bottom: 45px;
  background-color: white;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__list {
  width: 283px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__link {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: var(--grey);
}

.header__link:hover {
  color: var(--cyan);
}

.header__link:active {
  color: var(--dark-grey-blue);
}

.hero {
  margin-bottom: 136px;
}

.hero__container {
  background-image: url(/images/Bitmap\ \(3\).png);
  border-radius: 10px;
  padding: 0px 86px 0px 86px;
}

.hero__wrapper {
  width: 493px;
  padding: 116px 0px 117px 0px;
}

.hero__subject {
  width: 493px;
  margin-bottom: 32px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: var(--light-cream);
}

.hero__text {
  width: 444px;
  margin-bottom: 56px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--light-cream);
  opacity: 0.8;
}

:root {
  --cyan: #0E8784;
  --dark-grey-blue: #333D4B;
  --pale-orange: #FDD6BA;
  --light-cream: #FEFCF7;
  --grey: #83888F;
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fraunces-v10-latin-regular.woff2") format("woff2"), url("../fonts/fraunces-v10-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v10-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v10-latin-900.woff") format("woff");
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v11-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v11-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v11-latin-700.woff2") format("woff2"), url("../fonts/barlow-v11-latin-700.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

section {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 257px;
  padding: 15px 34px 16px 35px;
  cursor: pointer;
  color: var(--light-cream);
  background: var(--cyan);
  border: none;
  text-align: center;
  border-radius: 6px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button:hover {
  background: #bc303037;
}

.button:active {
  -webkit-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
  background: #E2DEDB;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.collection {
  margin-bottom: 180px;
}

.collection__container {
  background-image: url(/images/collections.png);
  background-position: top;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.collection__list {
  padding-top: 130px;
  width: 1111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.collection__link {
  width: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.collection__subg {
  margin-bottom: 24px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: var(--dark-grey-blue);
}

.collection__text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--dark-grey-blue);
}

.choose {
  margin-bottom: 351px;
}

.choose__container {
  position: relative;
  padding-top: 115px;
  padding-bottom: 318px;
  border-radius: 10px;
  background-color: #282F38;
}

.choose__wrapper {
  width: 540px;
  margin: auto;
  text-align: center;
}

.choose__heading {
  margin-bottom: 32px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: var(--light-cream);
}

.choose__text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--light-cream);
  mix-blend-mode: normal;
  opacity: 0.8;
}

.choose__list {
  width: 1230px;
  margin-top: 86px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.choose__item {
  width: 350px;
  padding: 72px 0px 48px 0px;
  margin-top: 30px;
  background: var(--cyan);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.choose__item:nth-child(3) {
  padding-top: 92px;
}

.choose__item + .choose__item {
  margin-left: 30px;
}

.choose__item:nth-child(1) .choose__item-wrapper::before {
  content: url(../images/Shape.svg);
}

.choose__item:nth-child(2) .choose__item-wrapper::before {
  content: url(../images/padarka.svg);
}

.choose__item:nth-child(3) .choose__item-wrapper::before {
  content: url(../images/moshina.svg);
}

.choose__item-wrapper {
  width: 255px;
  margin: auto;
  text-align: center;
}

.choose__item-text {
  margin-top: 56px;
  margin-bottom: 24px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: var(--light-cream);
}

.choose__item-subtext {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--light-cream);
}

.volume {
  margin-bottom: 200px;
}

.volume__container {
  padding: 0px 85px 0px 85px;
}

.volume__subg {
  margin: auto;
  margin-bottom: 178px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: var(--grey);
}

.volume__list::before {
  content: url(../images/chiziq.svg);
  width: 750px;
  position: absolute;
  margin-top: -101px;
}

.volume__list {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.volume__item::before {
  content: url(../images/dumaloq.svg);
  position: absolute;
  margin-top: -104px;
}

.volume__item + .volume__item {
  margin-left: 95px;
}

.volume__item-number {
  margin-bottom: 38px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: var(--pale-orange);
}

.volume__item-subg {
  width: 255px;
  margin-bottom: 42px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: var(--dark-grey-blue);
}

.volume__item-text {
  width: 285px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--dark-grey-blue);
}

.hero-about {
  margin-bottom: 168px;
}

.hero-about__container {
  background-image: url(../images/About_Us.png);
  border-radius: 10px;
  padding: 0px 85px 0px 85px;
}

.hero-about__wrapper {
  padding: 137px 0px 137px 0px;
}

.hero-about__heading {
  margin-bottom: 24px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: var(--light-cream);
}

.hero-about__info {
  width: 445px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--light-cream);
}

.commit {
  margin-bottom: 248px;
}

.commit__container {
  padding: 0px 85px 0px 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.commit__img {
  border-radius: 8px;
}

.commit__name {
  margin-bottom: 32px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: var(--dark-grey-blue);
}

.commit__info {
  width: 540px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--dark-grey-blue);
  opacity: 0.8;
}

.quality {
  margin-bottom: 168px;
}

.quality__container {
  padding: 88px 85px 176px 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  border-radius: 10px;
  background-color: #282F38;
}

.quality__name {
  margin-bottom: 32px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: var(--light-cream);
}

.quality__info {
  width: 540px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--light-cream);
  opacity: 0.8;
}

.quality__img {
  position: absolute;
  margin: -176px 0px 0px -448px;
  border-radius: 8px;
}

.our-quarters {
  margin-bottom: 168px;
}

.our-quarters__container {
  padding: 0px 85px 0px 85px;
}

.our-quarters__name {
  margin-bottom: 72px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: var(--grey);
}

.our-quarters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-quarters__item {
  width: 285px;
}

.our-quarters__item + .our-quarters__item {
  margin-left: 108px;
}

.our-quarters__item:nth-child(1)::before {
  content: url(../images/UK.svg);
}

.our-quarters__item:nth-child(2)::before {
  content: url(../images/Canada.svg);
}

.our-quarters__item:nth-child(3)::before {
  content: url(../images/avstraliya.svg);
}

.our-quarters__country {
  padding-top: 47px;
  margin-bottom: 24px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: var(--dark-grey-blue);
}

.our-quarters__location {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--dark-grey-blue);
}

.footer {
  background: #2C343E;
  width: 1280px;
  margin: auto;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 48px 85px 48px 85px;
}

.footer__left {
  margin-right: 103px;
}

.footer__middle {
  margin-right: 369px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: var(--grey);
}

.footer__item + .footer__item {
  margin-left: 32px;
}

.footer__netvolume-list {
  width: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer #facebook {
  fill: white;
}

.footer #twitter {
  fill: white;
}

.footer #instagram {
  fill: white;
}

.work-plan__container {
  padding: 189px 85px 47px 85px;
  background-color: var(--dark-grey-blue);
  border-radius: 10px;
}

.work-plan-subg {
  color: var(--light-cream);
}

.work-plan::before {
  content: url(../images/Oval.svg);
  position: absolute;
  margin-top: -104px;
}

.work-plan .work__item-text {
  color: var(--light-cream);
}
/*# sourceMappingURL=main.css.map */