 
 @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/barlow-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 700;
    src: local(''),
    url('../fonts/barlow-v11-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v11-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fraunces-regular - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/fraunces-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-900 - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/fraunces-v10-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Barlow', sans-serif;
}
ul{
    list-style: none ;
    display: flex;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    padding-left: 24px;
    padding-right: 24px;
    
    
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
    margin-bottom: 45px;
}
.header__list{
    width: 283px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header__link{
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #83888F;
}

.hero {
    margin-bottom: 136px;
}

.hero__container{
    background-image:url(../images/Bitmap.png);
    border-radius: 7px;
}
.hero__subject{
    padding-top: 117px;
    margin-left: 86px;
    width: 493px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px; 
    color: #FEFCF7;
}
.hero__text{
    width: 445px;
    margin-top: 32px;
    margin-left: 86px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px; 
    color: #FEFCF7; 
    mix-blend-mode: normal;
    opacity: 0.8;
}

.btn{
    border: none;
    margin-bottom: 116px;
    margin-top: 56px;
    margin-left: 86px;  
    width: 217px;
    height: 56px;
    background: #0E8784;
    border-radius: 6px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px; 
    text-align: center; 
    color: #FEFCF7;
    cursor: pointer;
    transition: all 1s linear 0s;
}
.btn:hover {
    background: #66D2CF;
    border-radius: 6px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
}
.btn:active {
    background: #2e2e2e;
    border-radius: 6px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
}

.collection__container {
    background-image: url(../images/Group\ 30.png);
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.collection__list {
    margin-top: 130px;
    width: 1111px;
}

.collection__item{
    align-items: center;
    width: 255px;
}
.item__subg{ 
    margin-bottom: 24px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}
.collection__text{
    text-align: center;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px; 
    text-align: center;     
    color: #333D4B;
}


