
:root {
    --cyan: #0E8784;
    --dark-grey-blue: #333D4B;
    --pale-orange: #FDD6BA;
    --light-cream: #FEFCF7;
    --grey: #83888F;
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'),
        url('../fonts/fraunces-v10-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'),
        url('../fonts/fraunces-v10-latin-900.woff') format('woff');
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v11-latin-regular.woff2') format('woff2'),
        url('../fonts/barlow-v11-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/barlow-v11-latin-700.woff2') format('woff2'),
        url('../fonts/barlow-v11-latin-700.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

section {
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 257px;
    padding: 15px 34px 16px 35px;
    cursor: pointer;
    color: var(--light-cream);
    background: var(--cyan);
    border: none;
    text-align: center;
    border-radius: 6px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  button:hover{
    background: #bc303037;
  }
  .button:active {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
    background: #E2DEDB;
  }
  .container {
    max-width: 1280px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 24px;
    padding-right: 24px;
  }
.collection {
    margin-bottom: 180px;


    &__container {
        background-image: url(/images/collections.png);
        background-position: top;
        background-repeat: no-repeat;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    &__list {
        padding-top: 130px;
        width: 1111px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    
    
    
    &__link {
        width: 255px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    &__subg {
        margin-bottom: 24px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: var(--dark-grey-blue);
    }
    
     &__text {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: var(--dark-grey-blue);
    } 
  }