.quality {
    margin-bottom: 168px;

    &__container {
        padding: 88px 85px 176px 85px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
        border-radius: 10px;
        background-color: #282F38;
    }
    
     &__name {
        margin-bottom: 32px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: var(--light-cream);
    }
    
     &__info {
        width: 540px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--light-cream);
        opacity: 0.8;
    }
    
    &__img {
        position: absolute;
        margin: -176px 0px 0px -448px;
        border-radius: 8px;
    }
}